
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 160%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;

}

#väder-nu {
    width: 300px;
    height: 300px;
}


.wrap {
    max-width: 1300px;
    height: 100vh;
    width: 100%;
    margin: auto;
}
.head-wrap {
    display:flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 10px 10px black;
    border: 2px solid black;
    padding-bottom: 30px;
}

.food,
.weathernow,
.mathie {
    flex: 1;
}



li {
    list-style-type: none;
}

h2 {
    text-align: center;
}

.content{
    width: 100%;
    display: flex;
    margin: auto;
}


.content-left {
    flex: 2;
    padding: 20px 50px 0px 10px;
    border: 2px solid black;
    margin-bottom: 250px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-right: 5%;
    background-color: white;
    box-shadow: -5px 10px 10px black;

}

.content-right {
    flex: 5;
    padding: 20px 0px 0px 10px;
    border: 2px solid black;
    margin-bottom: 250px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: white;
    box-shadow: 5px 10px 10px black;
}

.desc {
    margin-top: 150px;
    
}



.clothes-container {
    padding-left: 30px;
    display: flex;
}

.weather-container {
    padding-left: 30px;
    display: flex;
}


.Solskenclothes,
.Molnigtkläder,
.Regnkläder,
.Blåsigt,
.Snöfall,
.sol-plagg,
.moln-plagg,
.regn-plagg,
.blås-plagg,
.snö-plagg {
    display:  none;
}

.sol-plagg,
.moln-plagg,
.regn-plagg,
.blås-plagg,
.snö-plagg {
    margin-top: 50px;
    margin-left: 30px;
}

.sol-plagg li,
.moln-plagg li,
.regn-plagg li,
.blås-plagg li,
.snö-plagg li {
    margin-bottom: 140px;
}


/* Button styling */

.desc li{
    margin-bottom: 190px;
    text-align: center;
    padding: 20px 20px;
    border-radius: 50%;
    cursor: pointer;
}

#desc-sol {
    border: 1px solid rgb(170, 170, 0);
    background-color: rgb(255, 255, 0);
    box-shadow: 0px 12px 0px 0px rgba(0,0,0,0.75);
}

#desc-moln {
    border: 1px solid rgb(66, 66, 66);
    background-color: rgb(194, 194, 194);
    box-shadow: 0px 12px 0px 0px rgba(0,0,0,0.75);
}

#desc-regn {
    border: 1px solid rgb(41, 37, 255);
    background-color: rgb(56, 209, 255);
    box-shadow: 0px 12px 0px 0px rgba(0,0,0,0.75);
}

#desc-snö {
    border: 1px solid rgb(202, 202, 202);
    background-color: rgb(247, 247, 247);
    box-shadow: 0px 12px 0px 0px rgba(0,0,0,0.75);
}

.plagg-keps {
    border: 1px solid rgb(216, 176, 0);
    background-color: rgb(251, 255, 0);
    box-shadow: 0px 12px 0px 0px rgba(0,0,0,0.75);
}
.plagg-tshirt {
    border: 1px solid rgb(73, 182, 0);
    background-color: rgb(94, 255, 0);
    box-shadow: 0px 12px 0px 0px rgba(0,0,0,0.75);
}
.plagg-kortbyxor {
    border: 1px solid rgb(23, 99, 0);
    background-color: rgb(0, 184, 0);
    box-shadow: 0px 12px 0px 0px rgba(0,0,0,0.75);
}
.plagg-skor {
    border: 1px solid rgb(124, 0, 0);
    background-color: rgb(238, 0, 0);
    box-shadow: 0px 12px 0px 0px rgba(0,0,0,0.75);
}
.plagg-tröja {
    border: 1px solid rgb(184, 165, 0);
    background-color: rgb(253, 207, 0);
    box-shadow: 0px 12px 0px 0px rgba(0,0,0,0.75);
}
.plagg-långbyxor {
    border: 1px solid rgb(0, 54, 136);
    background-color: rgb(0, 153, 255);
    box-shadow: 0px 12px 0px 0px rgba(0,0,0,0.75);
}
.plagg-regnhatt {
    border: 1px solid rgb(191, 194, 0);
    background-color: rgb(251, 255, 0);
    box-shadow: 0px 12px 0px 0px rgba(0,0,0,0.75);
}
.plagg-regnjacka {
    border: 1px solid rgb(191, 194, 0);
    background-color: rgb(251, 255, 0);
    box-shadow: 0px 12px 0px 0px rgba(0,0,0,0.75);
}
.plagg-regnstövlar {
    border: 1px solid rgb(175, 149, 0);
    background-color: rgb(255, 238, 0);
    box-shadow: 0px 12px 0px 0px rgba(0,0,0,0.75);
}
.plagg-mössa {
    border: 1px solid rgb(85, 85, 85);
    background-color: rgb(65, 65, 65);
    box-shadow: 0px 12px 0px 0px rgba(0,0,0,0.75);
    color: white;
}
.plagg-vinterjacka {
    border: 1px solid rgb(0, 71, 177);
    background-color: rgb(0, 119, 255);
    box-shadow: 0px 12px 0px 0px rgba(0,0,0,0.75);
}
.plagg-handskar {
    border: 1px solid rgb(55, 138, 0);
    background-color: rgb(78, 153, 197);
    box-shadow: 0px 12px 0px 0px rgba(0,0,0,0.75);
}
.plagg-vinterstövlar {
    border: 1px solid rgb(121, 83, 1);
    background-color: rgb(233, 159, 0);
    box-shadow: 0px 12px 0px 0px rgba(0,0,0,0.75);
}


.sol-plagg li,
.moln-plagg li,
.regn-plagg li,
.blås-plagg li,
.snö-plagg li{
    text-align: center;
    padding: 16px 20px;
    border-radius: 50%;
    cursor: pointer;
}

.header-btn {
    text-align: center;
    padding: 30px 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
    border: 1px solid rgb(121, 83, 1);
    background-color: rgb(233, 159, 0);
    box-shadow: 0px 12px 0px 0px rgba(0,0,0,0.75);
    margin-left: 20px;
    margin-right: 20px;
}

#väderet,
#väderet2 {
    background-color: rgb(113, 198, 255);
}


#klur {
    margin-bottom: 55px;
    background-color: rgb(255, 168, 55);
}

#äta {
    background-color: rgb(103, 252, 97);
}

#kläder {
    background-color: rgb(145, 65, 199);
}
/* IMG styles */

.bilder img {
    width: 300px;
    height: 300px;
}


.head-wrap img {
    width: 300px;
    height: 300px;
}

.mathie img {
    width: 250px;
    height: 250px;
}

.clothes-container img {
    width: 250px;
    height: 200px;
}


.Solskenclothes img,
.Molnigtkläder img,
.Regnkläder img,
.Blåsigt img,
.Snöfall img {
    margin-bottom: 25px;
}



